// FONT

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Oswald:wght@200;400;600&display=swap');

// SCSS PORTFOLIO

body {
    max-width: 100%;
    height: auto;
    background: url("../assets/peak_background.svg") no-repeat;
    background-size: cover;
    overflow-x: hidden;
    padding: 0;
    margin: 0;

    // HEADER ***********************************

    header {
        width: 95%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba($color: #FFFFFF, $alpha: 0.1);
        border-radius: 20px;
        margin: 20px auto;

        .logo {
            width: 35px;
            height: 45px;
            margin-left: 20px;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                transition: all 0.8s ease-in-out;

                &:hover {
                    transform: rotateY(180deg);
                    
                }
            }
        }

        nav {
            margin-right: 50px;
            a {
                text-decoration: none;
                color: #2D2E32;
                background-color: #F4F5FF;
                padding: 8px;
                border-radius: 5px;
                border: 1px solid #2D2E32;
                font-family: "Montserrat", sans-serif;
                font-weight: 600;
                transition: all 0.4s ease-in-out;
                margin: auto 5px;

                &:hover {
                    color: #F4F5FF;
                    background-color: #2D2E32;
                    border-color: #F4F5FF;
                    font-weight: 200;
                }
            }
        }
    }

    // MAIN ***********************************

    main {
        width:100%;
        margin-bottom: 100px;
        
        .title {
            font-family: "Montserrat", sans-serif;
            color: #F4F5FF;
            position: relative;
            width: 50%;
            margin: 100px auto;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-direction: column;
            text-align: center;
            
            span {
                position: absolute;
                font-size: 7vw;
                opacity: 0.1;

            }
            
            h1 {
                font-size: 4vw;
                border-bottom: 2px solid #F4F5FF;
                margin: 10px;
                @media screen and (max-width: 599px) {
                    margin: 0;                    
                }
            }
        }

        // PROJECT CONTAINER ****************************************

        .project-container {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            
            a {
                text-decoration: none;
                flex-basis: 0;
                flex-grow: 1;
                min-width: 350px;
                max-width: 34%;
                height: 300px;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                transition: all 0.4s ease-in-out;
                &:hover {
                    .txt {
                        height: 100%;
                        background-color: rgba($color: #2D2E32, $alpha: 0.95);
                        p {
                            opacity: 1;
                        }
                    }
                }
                    
                .txt {
                    position: relative;
                    width: 100%;
                    height: 20%;
                    background-color: rgba($color: #2D2E32, $alpha: 0.5);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    transition: all 0.5s ease-in-out ;
                    

                    h2 {
                        text-align: center;  
                        margin: 0;
                        color: #F4F5FF;
                        font-family: "Oswald", sans-serif;
                    }

                    p {
                        text-align: center;
                        width: 100%;
                        position: absolute;
                        top: 60%;
                        left: 50%;
                        transform: translate(-50%);
                        transition: all 0.5s ease-in-out;
                        opacity: 0;
                        color: #F4F5FF;
                        font-family: "Montserrat", sans-serif;
                    }
                }
                
            }
        }

        .tech {
            margin: 70px auto;
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 15px 0 ;
            background-color: rgba($color: #FFFFFF, $alpha: 0.1);
            .fa-brands {
                font-size: 5vw;
            }

            img {
                width: 4.5vw;
                filter:brightness(60%);
            }

            .chatgpt {
                width: 8vw;
            }
        }
    }

    // FOOTER **************************************************

    footer {
    width: 100%;
    height: auto;
    background-color: #2D2E32;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
        font-family:"Montserrat";
    }

    .logo {
        margin: 30px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        p {
            margin: 0;
            font-size: 3vw;
            font-family: "Oswald", sans-serif;
            color: #F4F5FF;
            text-shadow: -5px 1px 7px rgba($color: #0642B4, $alpha: 0.3);

            @media screen and (max-width: 1024px) {
                font-size: 4vw;
            }
            @media screen and (max-width: 599px) {
                font-size: 5vw;
            }
        }
    }

    .reseaux-container {
        width: 40%;
        height: 70px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border: 1px solid #F4F5FF;
        border-radius: 50px;

        @media screen and (max-width: 1024px) {
            width: 60%;
        }
        @media screen and (max-width: 599px) {
            width: 80%;
        }

        a {
            text-decoration: none;
            color: #000;
            transition: all 0.3s ease-in-out;

            span {
                border: 3px solid #000;
                border-radius: 5px;
                padding: 10px;
                font-size: 18px;
                font-family: "Montserrat", sans-serif;
                font-weight: 700;
                
                &:hover {
                    cursor: pointer;
                    opacity: 0.5;
                }
            }
            

            &:hover {
                cursor: pointer;
                opacity: 0.5;
            }
        }
    }
}
}